-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: HRM_System
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `AttendanceCorrectionRequests`
--

DROP TABLE IF EXISTS `AttendanceCorrectionRequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AttendanceCorrectionRequests` (
  `RequestID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `WorkDate` date NOT NULL,
  `RequestType` varchar(50) NOT NULL,
  `RequestedTime` time NOT NULL,
  `Location` varchar(100) DEFAULT NULL,
  `Reason` varchar(1000) NOT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Pending',
  `RequestedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `AttachmentPath` varchar(255) DEFAULT NULL,
  `ApproverID` int DEFAULT NULL,
  `ApprovalDate` datetime DEFAULT NULL,
  PRIMARY KEY (`RequestID`),
  KEY `FK_AttCorrection_Employee` (`EmployeeID`),
  KEY `FK_AttCorrection_Approver` (`ApproverID`),
  CONSTRAINT `FK_AttCorrection_Approver` FOREIGN KEY (`ApproverID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_AttCorrection_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AttendanceCorrectionRequests`
--

LOCK TABLES `AttendanceCorrectionRequests` WRITE;
/*!40000 ALTER TABLE `AttendanceCorrectionRequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `AttendanceCorrectionRequests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AttendanceLogs`
--

DROP TABLE IF EXISTS `AttendanceLogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AttendanceLogs` (
  `LogID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `LogTime` datetime NOT NULL,
  `LogType` varchar(10) NOT NULL,
  `Location` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`LogID`),
  KEY `FK_AttendanceLogs_Employee` (`EmployeeID`),
  CONSTRAINT `FK_AttendanceLogs_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AttendanceLogs`
--

LOCK TABLES `AttendanceLogs` WRITE;
/*!40000 ALTER TABLE `AttendanceLogs` DISABLE KEYS */;
/*!40000 ALTER TABLE `AttendanceLogs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CampaignParticipants`
--

DROP TABLE IF EXISTS `CampaignParticipants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CampaignParticipants` (
  `ParticipantID` int NOT NULL AUTO_INCREMENT,
  `CampaignID` int NOT NULL,
  `EmployeeID` int NOT NULL,
  `RegistrationDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `Status` varchar(50) DEFAULT 'Registered',
  PRIMARY KEY (`ParticipantID`),
  UNIQUE KEY `CampaignID` (`CampaignID`,`EmployeeID`),
  KEY `FK_CampaignParticipants_Employee` (`EmployeeID`),
  CONSTRAINT `FK_CampaignParticipants_Campaign` FOREIGN KEY (`CampaignID`) REFERENCES `Campaigns` (`CampaignID`) ON DELETE CASCADE,
  CONSTRAINT `FK_CampaignParticipants_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CampaignParticipants`
--

LOCK TABLES `CampaignParticipants` WRITE;
/*!40000 ALTER TABLE `CampaignParticipants` DISABLE KEYS */;
/*!40000 ALTER TABLE `CampaignParticipants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CampaignResults`
--

DROP TABLE IF EXISTS `CampaignResults`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CampaignResults` (
  `ResultID` int NOT NULL AUTO_INCREMENT,
  `ParticipantID` int NOT NULL,
  `AchievementMetric` varchar(50) DEFAULT NULL,
  `AchievementValue` decimal(10,2) NOT NULL,
  `LoggedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`ResultID`),
  KEY `FK_CampaignResults_Participant` (`ParticipantID`),
  CONSTRAINT `FK_CampaignResults_Participant` FOREIGN KEY (`ParticipantID`) REFERENCES `CampaignParticipants` (`ParticipantID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CampaignResults`
--

LOCK TABLES `CampaignResults` WRITE;
/*!40000 ALTER TABLE `CampaignResults` DISABLE KEYS */;
/*!40000 ALTER TABLE `CampaignResults` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CampaignTargetDepartments`
--

DROP TABLE IF EXISTS `CampaignTargetDepartments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `CampaignTargetDepartments` (
  `CampaignID` int NOT NULL,
  `DepartmentID` int NOT NULL,
  PRIMARY KEY (`CampaignID`,`DepartmentID`),
  KEY `FK_CampaignTarget_Dept` (`DepartmentID`),
  CONSTRAINT `FK_CampaignTarget_Campaign` FOREIGN KEY (`CampaignID`) REFERENCES `Campaigns` (`CampaignID`) ON DELETE CASCADE,
  CONSTRAINT `FK_CampaignTarget_Dept` FOREIGN KEY (`DepartmentID`) REFERENCES `Departments` (`DepartmentID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CampaignTargetDepartments`
--

LOCK TABLES `CampaignTargetDepartments` WRITE;
/*!40000 ALTER TABLE `CampaignTargetDepartments` DISABLE KEYS */;
/*!40000 ALTER TABLE `CampaignTargetDepartments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Campaigns`
--

DROP TABLE IF EXISTS `Campaigns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Campaigns` (
  `CampaignID` int NOT NULL AUTO_INCREMENT,
  `CampaignName` varchar(255) NOT NULL,
  `ShortDescription` varchar(250) NOT NULL,
  `DetailedContent` text,
  `BannerImagePath` varchar(255) DEFAULT NULL,
  `StartDate` datetime NOT NULL,
  `EndDate` datetime NOT NULL,
  `CampaignType` varchar(50) DEFAULT NULL,
  `Organizer` varchar(100) DEFAULT NULL,
  `TargetAudienceType` varchar(20) NOT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Draft',
  `AllowComments` tinyint(1) NOT NULL DEFAULT '1',
  `RequireRegistration` tinyint(1) NOT NULL DEFAULT '0',
  `CreatedByEmployeeID` int NOT NULL,
  `CreatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`CampaignID`),
  KEY `FK_Campaign_Creator` (`CreatedByEmployeeID`),
  CONSTRAINT `FK_Campaign_Creator` FOREIGN KEY (`CreatedByEmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Campaigns`
--

LOCK TABLES `Campaigns` WRITE;
/*!40000 ALTER TABLE `Campaigns` DISABLE KEYS */;
/*!40000 ALTER TABLE `Campaigns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Departments`
--

DROP TABLE IF EXISTS `Departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Departments` (
  `DepartmentID` int NOT NULL AUTO_INCREMENT,
  `DepartmentName` varchar(100) NOT NULL,
  `DepartmentCode` varchar(20) DEFAULT NULL,
  `Description` varchar(500) DEFAULT NULL,
  `ManagerID` int DEFAULT NULL,
  PRIMARY KEY (`DepartmentID`),
  UNIQUE KEY `DepartmentCode` (`DepartmentCode`),
  KEY `FK_Departments_Manager` (`ManagerID`),
  CONSTRAINT `FK_Departments_Manager` FOREIGN KEY (`ManagerID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Departments`
--

LOCK TABLES `Departments` WRITE;
/*!40000 ALTER TABLE `Departments` DISABLE KEYS */;
INSERT INTO `Departments` VALUES (1,'Human Resources','HR','Manages employee lifecycle',NULL),(2,'Information Technology','IT','Manages technical infrastructure',NULL),(3,'Sales','SALES','Handles sales and client relationships',NULL);
/*!40000 ALTER TABLE `Departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `EmployeeLeaveBalances`
--

DROP TABLE IF EXISTS `EmployeeLeaveBalances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `EmployeeLeaveBalances` (
  `EmployeeLeaveBalanceID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `LeaveTypeID` int NOT NULL,
  `BalanceDays` decimal(5,2) NOT NULL,
  `LastUpdatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`EmployeeLeaveBalanceID`),
  UNIQUE KEY `EmployeeID` (`EmployeeID`,`LeaveTypeID`),
  KEY `FK_LeaveBalances_LeaveType` (`LeaveTypeID`),
  CONSTRAINT `FK_LeaveBalances_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_LeaveBalances_LeaveType` FOREIGN KEY (`LeaveTypeID`) REFERENCES `LeaveTypes` (`LeaveTypeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `EmployeeLeaveBalances`
--

LOCK TABLES `EmployeeLeaveBalances` WRITE;
/*!40000 ALTER TABLE `EmployeeLeaveBalances` DISABLE KEYS */;
/*!40000 ALTER TABLE `EmployeeLeaveBalances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `EmployeeProfileChanges`
--

DROP TABLE IF EXISTS `EmployeeProfileChanges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `EmployeeProfileChanges` (
  `ChangeID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `FieldName` varchar(50) NOT NULL,
  `OldValue` varchar(255) DEFAULT NULL,
  `NewValue` varchar(255) DEFAULT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Pending',
  `RequestedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ApproverID` int DEFAULT NULL,
  `ApprovalDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ChangeID`),
  KEY `FK_ProfileChanges_Employee` (`EmployeeID`),
  KEY `FK_ProfileChanges_Approver` (`ApproverID`),
  CONSTRAINT `FK_ProfileChanges_Approver` FOREIGN KEY (`ApproverID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_ProfileChanges_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `EmployeeProfileChanges`
--

LOCK TABLES `EmployeeProfileChanges` WRITE;
/*!40000 ALTER TABLE `EmployeeProfileChanges` DISABLE KEYS */;
/*!40000 ALTER TABLE `EmployeeProfileChanges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `EmployeeRoles`
--

DROP TABLE IF EXISTS `EmployeeRoles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `EmployeeRoles` (
  `EmployeeID` int NOT NULL,
  `RoleID` int NOT NULL,
  PRIMARY KEY (`EmployeeID`,`RoleID`),
  KEY `FK_EmployeeRoles_Role` (`RoleID`),
  CONSTRAINT `FK_EmployeeRoles_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`) ON DELETE CASCADE,
  CONSTRAINT `FK_EmployeeRoles_Role` FOREIGN KEY (`RoleID`) REFERENCES `Roles` (`RoleID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `EmployeeRoles`
--

LOCK TABLES `EmployeeRoles` WRITE;
/*!40000 ALTER TABLE `EmployeeRoles` DISABLE KEYS */;
INSERT INTO `EmployeeRoles` VALUES (2,1),(3,1),(1,2),(1,3);
/*!40000 ALTER TABLE `EmployeeRoles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Employees`
--

DROP TABLE IF EXISTS `Employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Employees` (
  `EmployeeID` int NOT NULL AUTO_INCREMENT,
  `FirstName` varchar(50) NOT NULL,
  `LastName` varchar(50) NOT NULL,
  `Email` varchar(100) NOT NULL,
  `PasswordHash` varchar(255) NOT NULL,
  `Phone` varchar(20) DEFAULT NULL,
  `Address` varchar(255) DEFAULT NULL,
  `HireDate` date NOT NULL,
  `IsActive` tinyint(1) NOT NULL DEFAULT '1',
  `PersonalEmail` varchar(100) DEFAULT NULL,
  `EmergencyContactName` varchar(100) DEFAULT NULL,
  `EmergencyContactPhone` varchar(20) DEFAULT NULL,
  `BankAccountNumber` varchar(50) DEFAULT NULL,
  `TaxID` varchar(50) DEFAULT NULL,
  `DepartmentID` int DEFAULT NULL,
  `ManagerID` int DEFAULT NULL,
  `CurrentPoints` decimal(10,2) NOT NULL DEFAULT '0.00',
  `AvatarUrl` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`EmployeeID`),
  UNIQUE KEY `Email` (`Email`),
  KEY `FK_Employees_Department` (`DepartmentID`),
  KEY `FK_Employees_Manager` (`ManagerID`),
  CONSTRAINT `FK_Employees_Department` FOREIGN KEY (`DepartmentID`) REFERENCES `Departments` (`DepartmentID`),
  CONSTRAINT `FK_Employees_Manager` FOREIGN KEY (`ManagerID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Employees`
--

LOCK TABLES `Employees` WRITE;
/*!40000 ALTER TABLE `Employees` DISABLE KEYS */;
INSERT INTO `Employees` VALUES (1,'Admin','User','admin@hrm.com','hashed_password_here',NULL,NULL,'2025-11-29',1,NULL,NULL,NULL,NULL,NULL,1,NULL,0.00,NULL),(2,'John','Doe','john.doe@hrm.com','hashed_password_here',NULL,NULL,'2025-11-29',1,NULL,NULL,NULL,NULL,NULL,2,NULL,0.00,NULL),(3,'Jane','Smith','jane.smith@hrm.com','hashed_password_here',NULL,NULL,'2025-11-29',1,NULL,NULL,NULL,NULL,NULL,3,NULL,0.00,NULL);
/*!40000 ALTER TABLE `Employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `LeaveRequestHistory`
--

DROP TABLE IF EXISTS `LeaveRequestHistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LeaveRequestHistory` (
  `HistoryID` int NOT NULL AUTO_INCREMENT,
  `LeaveRequestID` int NOT NULL,
  `Status` varchar(20) NOT NULL,
  `Notes` varchar(1000) DEFAULT NULL,
  `ChangedByEmployeeID` int NOT NULL,
  `ChangeDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`HistoryID`),
  KEY `FK_LeaveHistory_Request` (`LeaveRequestID`),
  KEY `FK_LeaveHistory_Employee` (`ChangedByEmployeeID`),
  CONSTRAINT `FK_LeaveHistory_Employee` FOREIGN KEY (`ChangedByEmployeeID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_LeaveHistory_Request` FOREIGN KEY (`LeaveRequestID`) REFERENCES `LeaveRequests` (`LeaveRequestID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `LeaveRequestHistory`
--

LOCK TABLES `LeaveRequestHistory` WRITE;
/*!40000 ALTER TABLE `LeaveRequestHistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `LeaveRequestHistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `LeaveRequests`
--

DROP TABLE IF EXISTS `LeaveRequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LeaveRequests` (
  `LeaveRequestID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `LeaveTypeID` int NOT NULL,
  `StartDate` date NOT NULL,
  `EndDate` date NOT NULL,
  `IsHalfDayStart` tinyint(1) NOT NULL DEFAULT '0',
  `IsHalfDayEnd` tinyint(1) NOT NULL DEFAULT '0',
  `TotalDays` decimal(5,2) NOT NULL,
  `Reason` varchar(1000) DEFAULT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Pending',
  `RequestedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `AttachmentPath` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`LeaveRequestID`),
  KEY `FK_LeaveRequests_Employee` (`EmployeeID`),
  KEY `FK_LeaveRequests_LeaveType` (`LeaveTypeID`),
  CONSTRAINT `FK_LeaveRequests_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_LeaveRequests_LeaveType` FOREIGN KEY (`LeaveTypeID`) REFERENCES `LeaveTypes` (`LeaveTypeID`),
  CONSTRAINT `CHK_LeaveRequest_Status` CHECK ((`Status` in (_latin1'Pending',_latin1'Approved',_latin1'Rejected',_latin1'Cancelled',_latin1'Draft')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `LeaveRequests`
--

LOCK TABLES `LeaveRequests` WRITE;
/*!40000 ALTER TABLE `LeaveRequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `LeaveRequests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `LeaveTypes`
--

DROP TABLE IF EXISTS `LeaveTypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LeaveTypes` (
  `LeaveTypeID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Description` varchar(500) DEFAULT NULL,
  `DefaultQuota` decimal(5,2) NOT NULL DEFAULT '0.00',
  `Applicability` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`LeaveTypeID`),
  UNIQUE KEY `Name` (`Name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `LeaveTypes`
--

LOCK TABLES `LeaveTypes` WRITE;
/*!40000 ALTER TABLE `LeaveTypes` DISABLE KEYS */;
/*!40000 ALTER TABLE `LeaveTypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PointTransactions`
--

DROP TABLE IF EXISTS `PointTransactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PointTransactions` (
  `TransactionID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `TransactionType` varchar(50) NOT NULL,
  `Amount` decimal(10,2) NOT NULL,
  `TransactionDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `Description` varchar(500) NOT NULL,
  `GiverEmployeeID` int DEFAULT NULL,
  PRIMARY KEY (`TransactionID`),
  KEY `FK_PointTrans_Employee` (`EmployeeID`),
  KEY `FK_PointTrans_Giver` (`GiverEmployeeID`),
  CONSTRAINT `FK_PointTrans_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_PointTrans_Giver` FOREIGN KEY (`GiverEmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PointTransactions`
--

LOCK TABLES `PointTransactions` WRITE;
/*!40000 ALTER TABLE `PointTransactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `PointTransactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `RedemptionRequests`
--

DROP TABLE IF EXISTS `RedemptionRequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `RedemptionRequests` (
  `RequestID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `PointsToRedeem` decimal(10,2) NOT NULL,
  `CashValue` decimal(10,2) NOT NULL,
  `ConversionRate` decimal(10,4) NOT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Processing',
  `RequestedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ApproverID` int DEFAULT NULL,
  `ApprovalDate` datetime DEFAULT NULL,
  PRIMARY KEY (`RequestID`),
  KEY `FK_Redemption_Employee` (`EmployeeID`),
  KEY `FK_Redemption_Approver` (`ApproverID`),
  CONSTRAINT `FK_Redemption_Approver` FOREIGN KEY (`ApproverID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_Redemption_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `RedemptionRequests`
--

LOCK TABLES `RedemptionRequests` WRITE;
/*!40000 ALTER TABLE `RedemptionRequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `RedemptionRequests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Roles`
--

DROP TABLE IF EXISTS `Roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Roles` (
  `RoleID` int NOT NULL AUTO_INCREMENT,
  `RoleName` varchar(50) NOT NULL,
  PRIMARY KEY (`RoleID`),
  UNIQUE KEY `RoleName` (`RoleName`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Roles`
--

LOCK TABLES `Roles` WRITE;
/*!40000 ALTER TABLE `Roles` DISABLE KEYS */;
INSERT INTO `Roles` VALUES (4,'C&B'),(1,'Employee'),(3,'HR'),(2,'Manager');
/*!40000 ALTER TABLE `Roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `TimesheetUpdateRequests`
--

DROP TABLE IF EXISTS `TimesheetUpdateRequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `TimesheetUpdateRequests` (
  `RequestID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `WorkDate` date NOT NULL,
  `OldCheckInTime` time DEFAULT NULL,
  `OldCheckOutTime` time DEFAULT NULL,
  `NewCheckInTime` time DEFAULT NULL,
  `NewCheckOutTime` time DEFAULT NULL,
  `Reason` varchar(1000) NOT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Pending',
  `RequestedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `AttachmentPath` varchar(255) DEFAULT NULL,
  `ApproverID` int DEFAULT NULL,
  `ApprovalDate` datetime DEFAULT NULL,
  PRIMARY KEY (`RequestID`),
  KEY `FK_TimesheetUpdate_Employee` (`EmployeeID`),
  KEY `FK_TimesheetUpdate_Approver` (`ApproverID`),
  CONSTRAINT `FK_TimesheetUpdate_Approver` FOREIGN KEY (`ApproverID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_TimesheetUpdate_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `TimesheetUpdateRequests`
--

LOCK TABLES `TimesheetUpdateRequests` WRITE;
/*!40000 ALTER TABLE `TimesheetUpdateRequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `TimesheetUpdateRequests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `WFHRequests`
--

DROP TABLE IF EXISTS `WFHRequests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `WFHRequests` (
  `RequestID` int NOT NULL AUTO_INCREMENT,
  `EmployeeID` int NOT NULL,
  `StartDate` date NOT NULL,
  `EndDate` date NOT NULL,
  `Reason` varchar(1000) NOT NULL,
  `WorkPlan` text NOT NULL,
  `Status` varchar(20) NOT NULL DEFAULT 'Pending',
  `RequestedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `AttachmentPath` varchar(255) DEFAULT NULL,
  `ApproverID` int DEFAULT NULL,
  `ApprovalDate` datetime DEFAULT NULL,
  PRIMARY KEY (`RequestID`),
  KEY `FK_WFHRequest_Employee` (`EmployeeID`),
  KEY `FK_WFHRequest_Approver` (`ApproverID`),
  CONSTRAINT `FK_WFHRequest_Approver` FOREIGN KEY (`ApproverID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_WFHRequest_Employee` FOREIGN KEY (`EmployeeID`) REFERENCES `Employees` (`EmployeeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `WFHRequests`
--

LOCK TABLES `WFHRequests` WRITE;
/*!40000 ALTER TABLE `WFHRequests` DISABLE KEYS */;
/*!40000 ALTER TABLE `WFHRequests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `WorkHandovers`
--

DROP TABLE IF EXISTS `WorkHandovers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `WorkHandovers` (
  `HandoverID` int NOT NULL AUTO_INCREMENT,
  `LeaveRequestID` int NOT NULL,
  `AssigneeEmployeeID` int NOT NULL,
  `ManagerID` int NOT NULL,
  `HandoverNotes` text,
  `CreatedDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`HandoverID`),
  KEY `FK_Handover_Request` (`LeaveRequestID`),
  KEY `FK_Handover_Assignee` (`AssigneeEmployeeID`),
  KEY `FK_Handover_Manager` (`ManagerID`),
  CONSTRAINT `FK_Handover_Assignee` FOREIGN KEY (`AssigneeEmployeeID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_Handover_Manager` FOREIGN KEY (`ManagerID`) REFERENCES `Employees` (`EmployeeID`),
  CONSTRAINT `FK_Handover_Request` FOREIGN KEY (`LeaveRequestID`) REFERENCES `LeaveRequests` (`LeaveRequestID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `WorkHandovers`
--

LOCK TABLES `WorkHandovers` WRITE;
/*!40000 ALTER TABLE `WorkHandovers` DISABLE KEYS */;
/*!40000 ALTER TABLE `WorkHandovers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-02  5:56:59
